.hero-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/3a.jpg');
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/hero_index_2_1_1_1.jpg');*/
  /*<span>Photo by <a href="https://unsplash.com/@thecreativv?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">The Creativv</a> on <a href="https://unsplash.com/s/photos/japanese-food?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
}

.hero-food-menu {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/hero_index_2_1_1_1.jpg');
}

.hook-button {
  border: solid;
  font-family: "bankgothic medium";
  color: grey;
  font-weight: bolder;
  font-size: large;
  border-radius: 25px;
  border-width: medium;
  border-color: grey;
  background: transparent;
  font-size: x-large;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
}
