@font-face {
  font-family: "bankgothic-medium";
  src: url(/assets/fonts/bankgothic_medium.ttf);
}
/* * {
font-family: "Name of your font";
}*/

body {
  margin: 0;
  font-family: "bankgothic medium"
}

.hero {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: no-repeat center center;
  background-size: cover;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: .5em
}

.hero .btn {
  display: block;
  width: 200px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: rgba(147, 112, 219, .8)
}
